body{
    background-color: #E4F9F5;
  }
  hr{
   
    border-style: dotted none none;
    border-top-style: dotted;
    height: 0px;
    border-color: #30E3CA;
    border-width: 5px;
    width: 30%;
    
   
  }
h1{
    color: #40514E ;
    font-family: Arial, Helvetica, sans-serif;


}
h3{
    color : #40514E;
    font-family: Arial, Helvetica, sans-serif;

}
p{
    font-family: Arial, Helvetica, sans-serif;

}
form{
    font-family: Arial, Helvetica, sans-serif;
}

input[type=submit] {
  width: 30%;
  background-color: #30E3CA;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
img{
    size adjust: 30%;
}
